# Игнорирование Python-байткодов
*.pyc
*.pyo
__pycache__/

# Игнорирование зависимостей
venv/
.venv/
.pytest_cache/
env/
*.egg-info/

# Игнорирование IDE/редакторов
.vscode/
.idea/

# Игнорирование временных файлов
*.log